* {
  box-sizing: border-box;
}

:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: black;
  --button-background-color: rgb(250, 128, 114);
}

html {
  min-height: 100vh;
  font-family: var(--main-font-family);
}

body {
  margin: 0;
}

header {
  padding: 30px;
}

h1 {
  text-transform: uppercase;
}

button {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  height: 200px;
  box-shadow: 0 0 15px 5px #0002;
}

.container-button {
  display: flex;
  gap: 30px;
}

.main-content {
  text-align: center;

  height: 150vh;
}

.text-box {
  width: 60%;
  margin: 20px auto;
  padding: 15px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
  text-align: center;
}

.button-rammstein {
  text-transform: capitalize;
  color: rgb(209, 100, 23);
}

.button-oasis {
  text-transform: capitalize;
  color: rgb(22, 22, 166);
}

.button-metallica {
  text-transform: capitalize;
  color: rgb(111, 13, 156);
}
